Repository codeit-FE-15-Part4-Team1/RoamReady: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: 'pnpm eslint --fix {staged_files}
  
    git add {staged_files}
  
    '

format:
  run: 'pnpm prettier --write {staged_files}
  
    git add {staged_files}
  
    '

(#78) fix: pnpm-lock.yaml 삭제 후 재설치
  pnpm-lock.yaml
Due: none

(#128) refactor: 테스트 페이지 파일명 수정
  src/app/test/reservation-calendar/page.dev.tsx
Due: lint, format

(#173) feat: reservation 기본 html 구성
  src/app/test/reservation/page.dev.tsx
  src/domain/Activity/components/detail/Reservation/index.tsx
  src/domain/Activity/components/main/dummy
Due: lint, format

(#160) chore: 로고 파일명 정확한 구분을 위해 변경
  src/app/assets/logos/logo-symbol.tsx
  src/app/assets/logos/logo-text-oneline.tsx
  src/app/assets/logos/logo-text-twoline.tsx
  src/app/assets/logos/logo.tsx
  src/app/test/logo/page.dev.tsx
  src/shared/components/layouts/footer/Footer.tsx
Due: lint, format

(#73) refactor: 로고 컴포넌트화 적용
  src/shared/components/layouts/header/AuthMenu.tsx
  src/shared/components/layouts/header/Header.tsx
  src/shared/components/layouts/header/LogoLink.tsx
Due: lint, format

(#72) chore: 주석 변경
  src/shared/components/layouts/header/LogoLink.tsx
Due: lint, format

(#75) refactor: ssr 안정성 개선 추가
  src/shared/components/ui/popover/PopoverContent.tsx
Due: lint, format

(#75) refactor: test페이지 파일명 변경
  src/app/test/popover/page.dev.tsx
Due: lint, format

(#102) refactor: 테스트 페이지 파일 이름 변경
  src/app/test/tabs/page.dev.tsx
Due: lint, format

(#173) feat: reservation 컴포넌트 구현
  src/app/test/reservation/page.dev.tsx
  src/domain/Activity/components/detail/Reservation/Participation.tsx
  src/domain/Activity/components/detail/Reservation/index.tsx
  src/domain/Activity/types/detail/types.ts
  src/domain/Activity/types/dummy
Due: lint, format

(#185) chore: logo 폴더 구조 변경
  src/app/test/logo/page.dev.tsx
  src/shared/assets/images/kakao-btn-lg.svg
  src/shared/assets/images/kakao-btn-sm.svg
  src/shared/assets/logos/logo-symbol.svg
  src/shared/assets/logos/logo-symbol.tsx
  src/shared/assets/logos/logo-text-oneline.svg
  src/shared/assets/logos/logo-text-oneline.tsx
  src/shared/assets/logos/logo-text-twoline.svg
  src/shared/assets/logos/logo-text-twoline.tsx
  src/shared/assets/logos/logo.svg
  src/shared/assets/logos/logo.tsx
  src/shared/components/layouts/footer/Footer.tsx
  src/shared/components/layouts/header/LogoLink.tsx
Due: lint, format

(#185) fix: images kakao 로고 복구
  src/shared/assets/images/kakao-btn-lg.svg
  src/shared/assets/images/kakao-btn-sm.svg
Due: none

(#173) feat: 인원 증가 감소 로직 추가 및 해당 인원에 맞도록 합계 계산 추가
  src/domain/Activity/components/detail/Reservation/Participation.tsx
  src/domain/Activity/components/detail/Reservation/index.tsx
Due: lint, format

(#75) refactor: content 거리 수정
  src/shared/components/ui/popover/PopoverContent.tsx
Due: lint, format

(#79) feat: 로고 컴포넌트 사용
  src/app/(auth)/signin/page.tsx
  src/app/(auth)/signup/page.tsx
  src/app/test/logo/page.dev.tsx
  src/shared/assets/logos/LogoSymbol.tsx
  src/shared/assets/logos/LogoTextOneline.tsx
  src/shared/assets/logos/LogoTextTwoline.tsx
  src/shared/components/layouts/footer/Footer.tsx
  src/shared/components/layouts/header/LogoLink.tsx
Due: lint, format

(#79) refactor: 컨벤션에 따라 파일명 수정
  src/app/test/input/page.dev.tsx
  src/shared/components/ui/input/InputContext.ts
  src/shared/components/ui/input/InputExample.tsx
  src/shared/components/ui/input/InputField.tsx
  src/shared/components/ui/input/InputHelper.tsx
  src/shared/components/ui/input/InputLabel.tsx
  src/shared/components/ui/input/InputRoot.tsx
  src/shared/components/ui/input/InputTrigger.tsx
  src/shared/components/ui/input/index.ts
Due: lint, format

(#79) chore: 로고 파일 rename 문제 해결 및 타입 정상화
  src/shared/assets/logos/Logo.tsx
Due: lint, format

(#102) refactor: 코드 리뷰 내용 반영
  src/app/test/tabs/page.dev.tsx
  src/shared/components/ui/tabs/ContextTabs.ts
  src/shared/components/ui/tabs/TabsContent.tsx
  src/shared/components/ui/tabs/TabsList.tsx
  src/shared/components/ui/tabs/TabsRoot.tsx
  src/shared/components/ui/tabs/TabsTrigger.tsx
  src/shared/components/ui/tabs/index.ts
  src/shared/components/ui/tabs/useTabs.ts
Due: lint, format

(#173) feat: 예약 가능 시간 영역 max-h 추가
  src/app/globals.css
  src/domain/Activity/components/detail/Reservation/index.tsx
Due: lint, format

(#102) refactor: isSelect일때 unmounted되던 것 수정
  src/shared/components/ui/tabs/TabsContent.tsx
  src/shared/components/ui/tabs/TabsRoot.tsx
Due: lint, format

(#107) refactor: selectedDate 타입 Dayjs로 변경
  src/shared/components/ui/date-picker/DatePickerContext.ts
  src/shared/components/ui/date-picker/DatePickerDate.tsx
  src/shared/components/ui/date-picker/DatePickerRoot.tsx
Due: lint, format

(#107) refactor: today 메모이제이션
  src/shared/components/ui/date-picker/DatePickerRoot.tsx
Due: lint, format

(#107) refactor: 외부 날짜 변경 시 해당 월로 가도록 수정
  src/app/test/date-picker/page.dev.tsx
  src/shared/components/ui/date-picker/DatePickerRoot.tsx
Due: lint, format

(#107) refactor: date 컴포넌트 내부 날짜 계산 로직 메모이제이션
  src/shared/components/ui/date-picker/DatePickerDate.tsx
Due: lint, format

(#107) refactor: map 메서드 key 고유값 dateStr로 변경
  src/shared/components/ui/date-picker/DatePickerDate.tsx
Due: lint, format

(#107) feat: aria 속성 추가
  src/shared/components/ui/date-picker/DatePickerDate.tsx
  src/shared/components/ui/date-picker/DatePickerMonth.tsx
  src/shared/components/ui/date-picker/DatePickerRoot.tsx
  src/shared/components/ui/date-picker/DatePickerWeek.tsx
Due: lint, format

(#107) fix: pnpm-lock 충돌 해결
  pnpm-lock.yaml
Due: none

(#107) refactor: button type 속성 추가
  src/shared/components/ui/date-picker/DatePickerDate.tsx
  src/shared/components/ui/date-picker/DatePickerMonth.tsx
Due: lint, format

(#107) fix: pnpm 삭제 후 재설치
  pnpm-lock.yaml
Due: none

(#107) fix: 빌드 에러 해결 (사용되지 않은 map 내부 i 변수 삭제)
  src/shared/components/ui/date-picker/DatePickerDate.tsx
Due: lint, format

(#182) chore: npmrc에 save-exact 속성 추가
  .npmrc
Due: none

(#182) chore: browser-image-compression 라이브러리 설치
  package.json
  pnpm-lock.yaml
Due: format

(#182) chore: 일부 dummy 파일 삭제
  src/domain/User/components/dummy
  src/domain/User/hooks/dummy
Due: none

(#182) feat: global css에 flex-center 유틸리티 클래스 추가
  src/app/globals.css
Due: format

(#182) feat: useImageCompression 커스텀 훅 구현
  src/shared/hooks/useImageCompression.ts
Due: lint, format

(#182) chore: image 기능 관련 상수 생성 - useImageCompression 훅에 사용될 상수들만 우선 구현
  src/shared/components/constants/image.ts
Due: lint, format

(#182) fix: eslint 규칙 플러그인 중복 버그 해결
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: format

(#182) feat: avatar 공통 컴포넌트 구현
  src/shared/components/ui/avatar/index.tsx
Due: lint, format

(#182) feat: 수정가능한 avatar 컴포넌트 구현
  src/domain/User/components/EditableAvatar.tsx
Due: lint, format

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx}
  format: any of: *.{js,jsx,ts,tsx,json,css,md}
